<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags"
                template="/template.xhtml">

    <ui:define name="content">
        <sec:authorize ifAnyGranted="ROLE_ADMIN, ROLE_USER">
            <p:panelGrid columns="1" layout="grid">
                <h:form id="form">
                    <p:growl id="msgs" showDetail="true"/>
                    <p:dataTable id="category" widgetVar="category" value="#{categoryMBean.categoryList}" editable="true" var="category">
                        <f:facet name="header">
                            Категория
                        </f:facet>
                        <p:ajax event="rowEdit" listener="#{categoryMBean.onRowEdit}" update=":form:msgs"/>
                        <p:ajax event="rowEditCancel" listener="#{categoryMBean.onRowCancel}" update=":form:msgs"/>

                        <p:column headerText="id" style="width:35px">

                            <h:outputText value="#{category.id}"/>


                        </p:column>
                        <p:column headerText="Название">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{category.name}"/></f:facet>
                                <f:facet name="input"><p:inputText id="cateforyName"
                                                                   value="#{category.name}"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column style="width:35px">
                            <p:rowEditor/>
                        </p:column>
                    </p:dataTable>

                    <div class="ui-g">
                        <div class="ui-g-12">
                            <p:commandButton value="Добавить" styleClass="ui-priority-primary" process="@this"
                                             update=":form:msgs"
                                             action="#{categoryMBean.onAddNew()}" oncomplete="PF('category').addRow();"/>
                        </div>
                    </div>

                </h:form>
            </p:panelGrid>
        </sec:authorize>
    </ui:define>

</ui:composition>