<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags"
                template="/template.xhtml">

    <ui:define name="content">
        <sec:authorize ifAnyGranted="ROLE_ADMIN, ROLE_USER">
            <p:panelGrid columns="1" layout="grid">
                <h:form id="debetForm">
                    <p:growl>
                        <p:autoUpdate/>
                    </p:growl>
                    <p:panelGrid columns="2" layout="grid" id="debetFormPanel">
                        <h:outputText value="Продукт:"/>
                        <h:selectOneMenu value="#{creditMBean.transaction.product}" converter="#{productConverter}">
                            <f:selectItems value="#{productMBean.productList}" var="product" itemLabel="#{product.name}"
                                           itemValue="#{product}"/>
                        </h:selectOneMenu>
                        <h:outputText value="Количество:"/>
                        <p:inputNumber value="#{creditMBean.transaction.qty}" decimalSeparator="."/>
                        <h:outputText value="Стоимость за единицу:"/>
                        <p:inputNumber value="#{creditMBean.transaction.cost}" decimalSeparator="."/>
                    </p:panelGrid>
                    <p:commandButton id="addDebetButton" value="Ввод" update="debetPanel"
                                     action="#{creditMBean.addTransaction()}" ajax="false"/>
                </h:form>
                <p:dataTable id="product" widgetVar="product" value="#{creditMBean.balance}" editable="false"
                             var="balance">
                    <p:column headerText="Продукт">
                        <h:outputText value="#{balance.product.name}"/>
                    </p:column>
                    <p:column headerText="На складе">
                        <h:outputText value="#{balance.qtyStock}"/>
                    </p:column>
                    <p:column headerText="Продано">
                        <h:outputText value="#{balance.qtySold}"/>
                    </p:column>
                    <p:column headerText="Сумма">
                        <h:outputText value="#{balance.cost}"/>
                    </p:column>
                </p:dataTable>
            </p:panelGrid>
        </sec:authorize>
    </ui:define>
</ui:composition>
