<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags"
                template="/template.xhtml">

    <ui:define name="content">
        <sec:authorize ifAnyGranted="ROLE_ADMIN, ROLE_USER">
            <p:panelGrid columns="1" layout="grid">
                <h:form id="form">
                    <p:growl id="msgs" showDetail="true"/>
                    <p:dataTable id="product" widgetVar="product" value="#{productMBean.productList}" editable="true" var="product">

                        <p:ajax event="rowEdit" listener="#{productMBean.onRowEdit}" update=":form:msgs"/>
                        <p:ajax event="rowEditCancel" listener="#{productMBean.onRowCancel}" update=":form:msgs"/>

                        <p:column headerText="id" style="width:35px">
                            <h:outputText value="#{product.id}"/>
                        </p:column>
                        <p:column headerText="Категория">
                        <p:cellEditor>
                            <f:facet name="output">"#{product.category.name}"</f:facet>
                            <f:facet name="input">
                                <h:selectOneMenu value="#{product.category}" converter="#{categoryConverter}">
                                    <f:selectItems value="#{categoryMBean.categoryList}" var="category" itemLabel="#{category.name}" itemValue="#{category}"/>
                                </h:selectOneMenu>

                            </f:facet>
                        </p:cellEditor>
                    </p:column>

                        <p:column headerText="Ед. Изм.">
                            <p:cellEditor>
                                <f:facet name="output">"#{product.unit.name}"</f:facet>
                                <f:facet name="input">
                                    <h:selectOneMenu value="#{product.unit}" converter="#{unitConverter}">
                                        <f:selectItems value="#{unitMBean.unitList}" var="unit" itemLabel="#{unit.name}" itemValue="#{unit}"/>
                                    </h:selectOneMenu>

                                </f:facet>
                            </p:cellEditor>
                        </p:column>

                        <p:column headerText="Название">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{product.name}"/></f:facet>
                                <f:facet name="input"><p:inputText id="cateforyName"
                                                                   value="#{product.name}"/></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column style="width:35px">
                            <p:rowEditor/>
                        </p:column>

                    </p:dataTable>
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <p:commandButton value="Добавить" styleClass="ui-priority-primary" process="@this"
                                             update=":form:msgs"
                                             action="#{productMBean.onAddNew()}" oncomplete="PF('product').addRow();"/>
                        </div>
                    </div>
                </h:form>
            </p:panelGrid>
        </sec:authorize>
    </ui:define>
</ui:composition>