<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags"
                template="/template.xhtml">

    <sec:authorize ifAnyGranted="ROLE_USER">
    <ui:define name="content">
<p:panelGrid columns="2" layout="grid">

</p:panelGrid>
    </ui:define>
    </sec:authorize>

</ui:composition>