<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:sec="http://www.springframework.org/security/tags">
<h:head>
    <title>TEST</title>
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
    <h:outputStylesheet library="css" name="starter.css" />
</h:head>

<h:body>
    <pe:layout fullPage="true" >
        <pe:layoutPane position="center" >
            <h:form id="contentForm" prependId="false" enctype="multipart/form-data">
                <p:ajaxStatus onstart="PF('statusDialog').show();"
                              onsuccess="PF('statusDialog').hide();" />
                <p:dialog widgetVar="statusDialog" position="right top"
                          draggable="false" resizable="false" closable="false"
                          showHeader="false" modal="false">
                </p:dialog>
                <div id="starterDiv" class="ui-fluid">
                    <center>
                        <p:menubar>
                            <sec:authorize ifAnyGranted="ROLE_ADMIN, ROLE_USER">
                            <p:menuitem value="Категории" url="category.jsf" />
                            <p:menuitem value="Ед. измерения" url="unit.jsf" />
                            <p:menuitem value="Продукты" url="product.jsf" />
                            <p:menuitem value="Приход" url="debet.jsf" />
                            <p:menuitem value="Расход" url="credit.jsf" />
                            <p:menuitem value="Выход" url="/logout"/>
                            </sec:authorize>
                            <sec:anonymous>
                                <p:menuitem value="Вход" url="/login.jsf"/>
                            </sec:anonymous>
                        </p:menubar>

                        <p:spacer height="10" />

                        <ui:insert name="content" />
                    </center>
                </div>
            </h:form>
        </pe:layoutPane>
    </pe:layout>
</h:body>

</html>